**/data
**/logs
**/virtp3
**/packages
*.project
.DS_Store/
*.pydevproject
*.pyc
__pycache__/*
pip-selfcheck.json

config.ini
bin/*
include/*
share/*
packages/
*.log

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
~*
.~*

